.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  margin: 0 5% 15px 0;
  padding: 80px 1% 1% 1%;
  border-radius: 0 0 50px 0;

  background-color: #747fe0;
}

.profilePicWrapper{
  width: 25%;
  height: 25%;
  border-radius: 50%;
  overflow: hidden;
}

.profilePic {
  width:100%;
  height: 100%;
  transition: all 0.3s;
  transform: scale(1.1)
}

.profilePic:hover{
  transform: scale(1.4) rotate(5deg);
}

.headerTitle{
  color: #f6f9fc;
  font-size: 4.5em;
  margin-bottom: 10px;
}

.subtitle{
  color: #f6f9fc;
}

.titleBox{
  display:flex;
  text-align: left;
}

/* Tablet view */
@media (max-width: 768px) {
  .header{
    padding: 70px 3.5% 3.5% 3.5%;
  }
  .profilePicWrapper{
    width: 50%;
    height: 50%;
  }
  .headerTitle {
    font-size: 3.5em;
  }
}

/* Mobile view */
@media (max-width: 480px) {
  .header{
    padding: 70px 7% 7% 7%;
    margin: 0 0 15px 0;
  }
  .profilePicWrapper{
    width: 65%;
    height: 65%;
  }
  .headerTitle {
    font-size: 2.2em;
  }
}