.modalContainer {
  position: fixed;
  z-index: 10001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modalHidden{
  display: none;
}

.modalActive{
  display: flex;
}

/* Modal Content */
.modalContent {
  background-color: var(--background-color);
  border-style: none;
  width: 80%;
  text-align:left;
  border-radius: 10px;
}

.modalText{
  margin: 50px 20px 20px 20px;
}

.modalParagraphText{
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;    
  white-space: -o-pre-wrap; 
  word-wrap: break-word;
}

.close {
  position: absolute;
  right: 10%;

  width:50px;
}

