.containerBox{
  margin: 10px;
  background-color: var(--secondary-accent);
  border-radius:10px;
  text-align: left;
  padding: 10px;
}

.link{
  color: var(--primary-accent)
}

li{
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;    
  white-space: -o-pre-wrap; 
  word-wrap: break-word;
}