.btnRegular{
  --bs-btn-padding-y: 0;
  color: var(--background-color);
  border-color: var(--background-color);
  width: 100%;
}

.outlineBtnPrimary:hover,
.outlineBtnPrimary:focus,
.outlineBtnPrimary:active{
  background-color: var(--background-color) !important; 
  color: var(--primary-accent) !important;
  border-color: var(--background-color) !important;
}

.outlineBtnHighlightWarm:hover,
.outlineBtnHighlightWarm:focus,
.outlineBtnHighlightWarm:active{
  background-color: var(--background-color) !important; 
  color: var(--highlight-warm) !important;
  border-color: var(--background-color) !important;
}
