.robotoThin {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}

.robotoLight {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

.robotoRegular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.robotoMedium {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

b, .robotoBold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

.robotoBlack {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
}

.robotoThinItalic {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: italic;
}

.robotoLightItalic {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: italic;
}

.robotoRegularItalic {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: italic;
}

.robotoMediumItalic {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: italic;
}

.robotoBoldItalic {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: italic;
}

.robotoBlack-Italic {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: italic;
}

.smallParagraphText{
  font-size: 1rem !important;
}

.paragraphText{
  font-size: 1.25rem !important;
}

.subtitleText{
  font-size: 1.5rem !important;
}

.headerText{
  font-size: 2rem !important;
}

.titleText{
  font-size: 4rem !important;
}

.wordWrap{
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;    
  white-space: -o-pre-wrap; 
  word-wrap: break-word;
}