.carouselItem{
  background-color: #EF767A;
  color: #f6f9fc;
  padding: 10px;
  padding-bottom: 2em;
  border-radius:10px;
  font-size: 2em;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  text-align: left;

  height: 90%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.carouselItemText{
  margin-bottom:0;
}

.seeMore{
  position: absolute;
  bottom: 5%;
}