.carouselItem{
  background-color: #EF767A;
  color: #f6f9fc;
  padding: 10px;
  border-radius:10px;
  font-size: 2em;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  text-align: left;

  height: 90%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.carouselItemText{
  margin-bottom:0;
}