.navbar{
  background-color: white;
  padding: 0;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color:var(--text-color);
}

.active{
  color: var(--bs-nav-link-color) !important;
}

.githubIcon{
  margin-right:1px;
  height: 1em;
  width: 1em;
}

html {
  scroll-padding-top: 55px;
}

.navbarContainer{
  margin-left: 10px;
}